<template>
    <div>
        <div id="consent_form" v-bind:class="{ hidden: !isHidden }">
            <h2 class="nes-text is-primary" >{{ title }}</h2>
            <div class="nes-field">
                <label for="name_field" >Your name</label>
                <input v-model="name_field" type="text" id="name_field" class="nes-input">
            </div>
            <div class="nes-field">
                <label for="studentID_field" >Your student ID</label>
                <input v-model="studentID_field" type="text" id="studentID_field" class="nes-input">
            </div>
            <label for="gender_field" class="select-label">Gender</label>
            <div class="half-field nes-select">
                <select v-model="gender_field" required id="gender_select">
                    <option value="" disabled selected hidden>Select...</option>
                    <option value="MALE">MALE</option>
                    <option value="FEMALE">FEMALE</option>
                    <option value="OTHER">OTHER</option>
                </select>
            </div>
            <label for="race_field" class="select-label">Race</label>
            <div class="nes-select half-field">
                <select v-model="race_field" required id="race_select">
                    <option value="" disabled selected hidden>Select...</option>
                    <option value="AIAN">American Indian or Alaska Native</option>
                    <option value="ASIAN">Asian</option>
                    <option value="BLACK">Black or African American</option>
                    <option value="LATINO">Hispanic or Latino</option>
                    <option value="HAWAII">Native Hawaiian or Other Pacific Islander</option>
                    <option value="WHITE">White</option
                    <option value  O    R"  ther</option>
                </select>
            </div>
            <div>
                <label>
                    <input v-model="consent_field" type="checkbox" class="nes-checkbox" checked />
                    <span id="consent-text">I consent to my data being collected from this marketing survey</span>
                </label>
            </div>
            <div class="wrapper">
                <button v-on:click="submitConsentForm" type="button" class="nes-btn is-primary">Submit</button>
            </div>
        </div>
        <div id="storefront" v-bind:class="{hidden: isHidden}">
            <h2 class="nes-text is-primary" >{{ title2 }}</h2>
            <img v-if="group === 'CON'" src="../assets/gummi-shlong-image.png">
            <img v-else src="../assets/gummi-schlong-image-2.png">
            <div class="choice-btn">
                <button v-on:click="setChoiceToYes" type="button" class="nes-btn is-success">I'd Buy</button>
            </div>
            <div class="choice-btn">
                <button v-on:click="setChoiceToNo" type="button" class="nes-btn is-error">Hell No</button>
            </div>
            <p>{{ info }}</p>
        </div>
    </div>
</template>

<script>
const axios = require('axios');

export default {
  name: 'ConsentForm',
  data () { 
      return {
        title: "Consent Form",
        isHidden: true,
        race_field: "",
        gender_field: "",
        consent_field: "",
        name_field: "",
        studentID_field: "",
        group: "",
        title2: "Would you buy this?"
      }
  },
  methods: {
      submitConsentForm: function() {
          if ((this.race_field && this.gender_field && this.consent_field && this.name_field && this.studentID_field) !== "") {
                this.title = "All good";
                let rand = Math.floor(Math.random() * Math.floor(2));
                this.group = rand ? "EXP" : "CON";
                setTimeout(() => this.isHidden = false, 1000);  
          }
          else {
              this.title = "Please fill out all fields";
          }
      },
      setChoiceToNo: function() {
          axios.get('https://gummi-server.kreative.im/submit?name='+this.name_field+'&gender='+this.gender_field+'&studentID='+this.studentID_field+'&race='+this.race_field+'&consent='+this.consent_field+'&choice=no&assignment='+this.group).then((response) => {
            this.title2 = "Thank You!!";
            setTimeout(() => document.location.reload(), 10);
        }).catch((error) => {
            this.title2 = "Thank You!!";
            setTimeout(() => document.location.reload(), 10);           
        });
      },
      setChoiceToYes: function() {
          axios.get('https://gummi-server.kreative.im/submit?name='+this.name_field+'&gender='+this.gender_field+'&studentID='+this.studentID_field+'&race='+this.race_field+'&consent='+this.consent_field+'&choice=yes&assignment='+this.group).then((response) => {
            this.title2 = "Thank You!!";
            setTimeout(() => document.location.reload(), 10);
        }).catch((error) => {
            this.title2 = "Thank You!!!";
            setTimeout(() => document.location.reload(), 10);                
        });
      }
  }
}
</script>

<style>
    div {
        text-align: left;
    }
    h2 {
        padding-bottom: 20px;
        text-align: center;   
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    .nes-field, .nes-select {
        padding-bottom: 20px;
    }
    .wrapper {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
    .choice-btn {
        margin-top: 30px;
        width: 50%;
        float: left;
        display: flex;
        justify-content: center;
    }
    .hidden {
        display: none;
    }
    #banner {
        text-align: center;
        background-color: #FFE485;
    }
    #consent-text {
        font-size: 12px;
    }

</style>