<template>
  <div id="app">
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <ConsentForm></ConsentForm>
  </div>
</template>

<script>
import ConsentForm from './components/ConsentForm.vue';

export default {
  name: 'app',
  components: {
    ConsentForm
  }
}
</script>

<style>
#app {
  font-family: 'Press Start 2P', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 50%;
  margin: 0 auto;
  padding-top: 60px;
}
</style>
